<launch>
  <!-- Launch kinect sensor with openni_camera... -->
  <include file="$(find openni_launch)/launch/openni.launch"/> 

  <!-- Launch skeleton tracking node with output in a new window -->
  <node pkg="skeletontracker_nu" type="skeletontracker" name="skeletontracker"  output="screen" respawn="true" launch-prefix="xterm -rv -e"/>
  <!-- <node pkg="skeletontracker_nu" type="skeletontracker" name="skeletontracker"  output="screen" respawn="true" /> -->
	
  <!-- Launch rviz with a nice configuration -->
  <node pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find skeletontracker_nu)/launch/skeletonrecord.vcg"/>

</launch>
